contract/.vscode/*
gateway/ibp/fabric_connection.json
gateway/ibp/gen_ibp_wallet/*
gateway/local/gen_local_wallet/*
gateway/local/fabric_connection.json
gateway/ibp/wallet/*
gateway/local/wallet/*
application/server/node_modules/*
application/client/node_modules/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
**/.DS_Store

