contract/.vscode/*
application/server/gateway/local/fabric_connection.json
application/server/gateway/ibp/gen_ibp_wallet/*
application/server/gateway/local/gen_local_wallet/*
application/server/gateway/local/fabric_connection.json
application/server/gateway/ibp/connection_profile.json
application/server/gateway/ibp/wallet/*
application/server/gateway/local/wallet/*
application/server/src/node_modules/*
application/client/node_modules/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
**/.DS_Store

