<!--The content below is only a placeholder and can be replaced.-->
<header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <span><a href="#" (click)="Logout()">Logout</a></span>
        <!--<mat-icon aria-hidden="false" aria-label="account circle icon" (click)="logout()">Logout</mat-icon>-->
      </mat-toolbar-row>
    </mat-toolbar>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<!-- This Div is to reserve space for status message -->
<div style="height:40px"></div>
