
// Background
$off-white-grey: #E8E8E8;
$light-grey: #D8DBE2;
$grey: #828A95;
$dark-grey: #403F4C;

// Notification Section
$cool-teal: #4D7C8A;
$steel-teal: #619B8A;

// White Accent
$ghost-white: #FAFAFF;

// Accent #1
$pastel-blue: #CEEAF7;
$light-yellow: #FEFFBE;

// Accent #2 & Good/Done status
$light-green: #B9D8C2;
$bright-green: #77BFA3;

// Warning Color
$spanish-pink: #EBBAB9;
$bright-red: #B9314F;

//#ED6A5A; terracota

//#B9314F; dingy dungeon
