<h3>Query Order</h3>
<div class="formstyle">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <label>
      Order ID:
      <input type="text" formControlName="orderid">
      <div *ngIf="submitted && messageForm.controls.orderid.errors" class="error">
        <div *ngIf="messageForm.controls.orderid.errors.required">Order ID is required</div>
      </div>
    </label>
    <input type="submit" style="width:90px" value="Submit" class="cta">
  </form>
</div>

<div *ngIf="submitted" class="results">
  <div *ngIf="success; else elseBlock">
    <table>
      <tr>
        <th>orderId</th>
        <th>productId</th>
        <th>price</th>
        <th>quantity</th>
        <th>producerId</th>
        <th>retailerId</th>
        <th>orderState</th>
        <th>trackingInfo</th>
      </tr>
      <tr>
        <td>{{order.orderId}}</td>
        <td>{{order.productId}}</td>
        <td>{{order.price}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.producerId}}</td>
        <td>{{order.retailerId}}</td>
        <td>{{order.currentOrderState}}</td>
        <td>{{order.trackingInfo}}</td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="submitted" class="results">
    <p *ngIf="success; else elseBlock" ></p>
    <ng-template #elseBlock ></ng-template>
</div>