<section id="user-management">
  <h3>User Management Page</h3>
  <mat-tab-group (selectedIndexChange)="loadUserList($event)">
    <mat-tab label="Manage Users">
      <table mat-table [dataSource]="allUsers" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="usertype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.usertype}} </td>
        </ng-container>
        <ng-container matColumnDef="enrolled">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrolled </th>
          <td mat-cell *matCellDef="let element"> {{element.enrolled}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></tr>
      </table>
    </mat-tab>
    <mat-tab label="Register New User">
      <div style="display: table-cell; width: 100vw">
        <div class="formstyle">
          <h3>New User Form</h3>
          <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">

            <label style="text-align:left">
              ID:
              <input type="text" formControlName="id">
              <div *ngIf="submitted && newUserForm.controls.id.errors" class="error">
                <div *ngIf="newUserForm.controls.id.errors.required">ID is required</div>
              </div>
            </label>

            <label style="text-align:left">
              Password:
              <input type="password" formControlName="password">
              <div *ngIf="submitted && newUserForm.controls.password.errors" class="error">
                <div *ngIf="newUserForm.controls.password.errors.required">Password is required</div>
              </div>
            </label>

            <label style="text-align:left">
              Confirm Password:
              <input type="password" formControlName="confirm_password">
              <div *ngIf="submitted && newUserForm.controls.confirm_password.errors" class="error">
                <div *ngIf="newUserForm.controls.confirm_password.errors.required">Password confirmation is required
                </div>
              </div>
            </label>

            <label style="text-align:left">
              Type:
              <select class="form-control" formControlName="usertype" required>
                <option *ngFor="let r of types" [ngValue]="r">{{ r }}</option>
              </select>
              <div *ngIf="submitted && newUserForm.controls.usertype.errors" class="error">
                <div *ngIf="newUserForm.controls.usertype.errors.required">Type is required</div>
              </div>
            </label>

            <input type="submit" style="width:100%" value="Create User" class="form-button">

          </form>
          <div *ngIf="submitted" class="results">
            <p *ngIf="success; else elseBlock">User Registered Successfully!</p>
            <ng-template #elseBlock>ERROR registering user please make sure the passwords match.</ng-template>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
